Flow5
[
    {
        "id": "e4812ae1.0d1be8",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d9ee963.152cc8",
        "type": "http in",
        "z": "e4812ae1.0d1be8",
        "name": "Set GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "2dee9001.63823",
                "e8de96f9.e7e408"
            ]
        ]
    },
    {
        "id": "2dee9001.63823",
        "type": "function",
        "z": "e4812ae1.0d1be8",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "75b0caae.750214"
            ]
        ]
    },
    {
        "id": "e8de96f9.e7e408",
        "type": "function",
        "z": "e4812ae1.0d1be8",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "197eba2e.a192f6",
                "28cb72d0.76f18e"
            ]
        ]
    },
    {
        "id": "75b0caae.750214",
        "type": "rpi-gpio out",
        "z": "e4812ae1.0d1be8",
        "name": "Pin: 29",
        "pin": "29",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "197eba2e.a192f6",
        "type": "http response",
        "z": "e4812ae1.0d1be8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "28cb72d0.76f18e",
        "type": "debug",
        "z": "e4812ae1.0d1be8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "2f086507.7b1f6a",
        "type": "http in",
        "z": "e4812ae1.0d1be8",
        "name": "",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 620,
        "wires": [
            [
                "3ba5e332.0480ec",
                "5197fe7c.32e0c"
            ]
        ]
    },
    {
        "id": "5197fe7c.32e0c",
        "type": "function",
        "z": "e4812ae1.0d1be8",
        "name": "clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "75b0caae.750214"
            ]
        ]
    },
    {
        "id": "3ba5e332.0480ec",
        "type": "function",
        "z": "e4812ae1.0d1be8",
        "name": "Return Status",
        "func": "msg.payload=\"GPIO5 set to LOW\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 580,
        "wires": [
            [
                "197eba2e.a192f6",
                "28cb72d0.76f18e"
            ]
        ]
    }
]
