Flow2
[
    {
        "id": "4db960cb.f1a4a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc1b8875.ec1a08",
        "type": "inject",
        "z": "4db960cb.f1a4a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "3a4b4a57.8ff9c6"
            ]
        ]
    },
    {
        "id": "3a4b4a57.8ff9c6",
        "type": "function",
        "z": "4db960cb.f1a4a",
        "name": "function",
        "func": "msg.headers={\n    deviceKey: \"i4QzKCZ34L3u3XRS\"\n    };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "944c4f27.d339c",
                "466b3871.aeb418"
            ]
        ]
    },
    {
        "id": "944c4f27.d339c",
        "type": "http request",
        "z": "4db960cb.f1a4a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/D0TtxqC0/datachannels/Temperature/datapoints.csv",
        "tls": "",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "6cba6607.0e4358",
                "3d59b93a.4895b6"
            ]
        ]
    },
    {
        "id": "6cba6607.0e4358",
        "type": "http response",
        "z": "4db960cb.f1a4a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "3d59b93a.4895b6",
        "type": "debug",
        "z": "4db960cb.f1a4a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "466b3871.aeb418",
        "type": "http request",
        "z": "4db960cb.f1a4a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/D0TtxqC0/datachannels/Humidity/datapoints.csv",
        "tls": "",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "6cba6607.0e4358",
                "3d59b93a.4895b6"
            ]
        ]
    }
]
